<div class="d-flex mt-1 justify-content-center">
  <button
  *ngIf="!isPaused"
  #btnPausar
  class="btn btn-light d-flex align-items-center"
  (click)="slickModal.slickPause()"
  (click)="onPauseButton()"
  >
  <img src="../assets/icons/pause.svg" alt="">
</button>
<button
  *ngIf="isPaused"
  #btnPlay
  class="btn btn-light d-flex align-items-center"
  (click)="slickModal.slickPlay()"
  (click)="onPauseButton()"
  >
  <img src="../assets/icons/play.svg" alt="">
</button>
</div>

<ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img
        *ngIf="slide.ext !== 'mp4'; else videoFormat"
        src="../assets/img/{{ slide.item }}"
        alt=""
        width="100%">
      <ng-template #videoFormat>
        <video
          #video
          src="../assets/img/{{ slide.item }}"
          controls
          width="100%">
        </video>
      </ng-template>
      <iframe
        *ngIf="slide.frame"
        width="100%"
        [height]="heigthScreen"
        [src]="slide.item | safe"
        loading="lazy"
        sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
        >
      </iframe>
      <iframe
        *ngIf="slide.type === 'sheet'"
        [width]="widthScreen"
        [height]="heigthScreen"
        [src]="slide.item | safe"
        loading="lazy"
        sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
        >
      </iframe>
    </div>
</ngx-slick-carousel>

