<!-- You can now use your library component in app.component.html -->
<ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img
        *ngIf="slide.ext !== 'mp4'; else videoFormat"
        src="../assets/img/{{ slide.item }}"
        alt=""
        width="100%">
      <ng-template #videoFormat>
        <video
          #video
          src="../assets/img/{{ slide.item }}"
          controls
          width="100%">
        </video>
      </ng-template>
      <iframe
        *ngIf="slide.frame"
        width="100%"
        height="860"
        [src]="slide.item | safe"
        sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
        >
      </iframe>
    </div>
</ngx-slick-carousel>

<button #btnPausar (click)="slickModal.slickPause()">Pausar</button>
<button #btnPlay (click)="slickModal.slickPlay()">Comenzar</button>
